<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
<div class="container mt-3">
    <div class="card">
        <div class="card-header">List of patients</div>
        <div class="card-body">
            <form method="get" th:href="@{/user/index}">
                <label>Key word</label>
                <input type="text" name="keyword" th:value="${keyword}">
                <button type="submit" class="btn btn-primary">Chercher</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>DateNaissance</th>
                    <th>Malade</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listPatients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.datNaissance}"></td>
                    <td th:text="${p.malade}"></td>
                    <td th:text="${p.score}"></td>
                    <td th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <a onclick="return confirm('Etes vous sûre?')" class="btn btn-danger"
                           th:href="@{/admin/deletePatient(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    <td th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <a  class="btn btn-danger"
                            th:href="@{/admin/editPatient(id=${p.id})}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index == currentPage ? 'btn btn-primary ms-1' : 'btn btn-outline-info ms-1'}"
                       th:text="${status.index}"
                       th:href="@{/user/index(page=${status.index}, keyword=${keyword})}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
</body>
</html>